<% include header%>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Newspaper</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="fabiao/css/bootstrap.min.css"  type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="fabiao/css/style.css">

    <!-- Owl Carousel Assets -->
    <link href="fabiao/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="fabiao/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="fabiao/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="fabiao/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="fabiao/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="fabiao/js/html5shiv.js"></script>
    <script src="fabiao/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!--<div class="adcenter"><script src="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script></div>-->

<div class="featured container">
    <div id="owl-demo" class="owl-carousel">
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/1.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/2.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/3.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/11.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/5.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="imgs/19.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/7.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/8.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/9.jpg" class="postimg"/>
            </div>
        </div>
        <div class="item">
            <div class="zoom-container">
                <div class="zoom-caption">
                    <span>Youtube</span>
                    <a href="/">
                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                    </a>
                    <p>Video's</p>
                </div>
                <img src="fabiao/images/10.jpg" class="postimg"/>
            </div>
        </div>
    </div>
</div>
<!-- Header -->

<!-- /////////////////////////////////////////Content -->
<div id="page-content" class="archive-page container">
    <div class="">
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="box">
                    <center><div class="box-header">
                            <h1 class="center">留 些 新 鲜 事</h1>
                        </div></center>
                    <div class="box-content">
                        <div id="contact_form">
                            <form name="form1" id="ff" method="post">
                                <label>
                                    <span>标题：</span>
                                    <input type="text"  name="title" id="name" required>
                                </label>
                                <label>
                                    <span>标签：</span>
                                    <input type="text" name="tag1">
                                </label>
                                <label>
                                    <span>正文:</span>
                                    <textarea name="post" cols="100" rows="10"></textarea></br>
                                </label>
                                <center><input class="sendButton" type="submit"  value="发表"></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-4">
                <!---- Start Widget ---->
                <div class="widget wid-follow">
                    <div class="heading"><h4>Follow Us</h4></div>
                    <div class="content">
                        <ul class="list-inline">
                            <li>
                                <a href="facebook.com/">
                                    <div class="box-facebook">
                                        <span class="fa fa-facebook fa-2x icon"></span>
                                        <span><%= Math.floor(Math.random() * 10000) %></span>
                                        <span>Fans</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="facebook.com/">
                                    <div class="box-twitter">
                                        <span class="fa fa-twitter fa-2x icon"></span>
                                        <span><%= Math.floor(Math.random() * 10000) %></span>
                                        <span>Fans</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="facebook.com/">
                                    <div class="box-google">
                                        <span class="fa fa-google-plus fa-2x icon"></span>
                                        <span><%= Math.floor(Math.random() * 10000) %></span>
                                        <span>Fans</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <img src="fabiao/images/banner.jpg" />
                    </div>
                </div>
                <!---- Start Widget ---->

                <!---- Start Widget ---->
                <div class="widget ">
                    <div class="heading"><h4>Top News</h4></div>
                    <div class="content">
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span class="vimeo">Vedio</span>
                                    <a href="/">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>Video's Name</p>
                                </div>
                                <img src="fabiao/images/1.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span class="vimeo">Vimeo</span>
                                    <a href="/">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>Video's Name</p>
                                </div>
                                <img src="images/2.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span class="vimeo">Vimeo</span>
                                    <a href="/">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>Video's Name</p>
                                </div>
                                <img src="images/3.jpg" />
                            </div>
                            <h3 class="vid-name"><a href="#">Video's Name</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-footer footer-1">
                    <div class="footer-heading"><h1><span style="color: #fff;">NEWSPAPER</span></h1></div>
                    <div class="content">
                        <p>Never missed any post published in our site. Subscribe to our daly newsletter now.</p>
                        <strong>Email address:</strong>
                        <form action="#" method="post">
                            <input type="text" name="your-name" value="" size="40" placeholder="Your Email" />
                            <input type="submit" value="SUBSCRIBE" class="btn btn-3" />
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-footer footer-2">
                    <div class="footer-heading"><h4>Tags</h4></div>
                    <div class="content">
                        <a href="#">animals</a>
                        <a href="#">cooking</a>
                        <a href="#">countries</a>
                        <a href="#">city</a>
                        <a href="#">children</a>
                        <a href="#">home</a>
                        <a href="#">likes</a>
                        <a href="#">photo</a>
                        <a href="#">link</a>
                        <a href="#">law</a>
                        <a href="#">shopping</a>
                        <a href="#">skate</a>
                        <a href="#">scholl</a>
                        <a href="#">video</a>
                        <a href="#">travel</a>
                        <a href="#">images</a>
                        <a href="#">love</a>
                        <a href="#">lists</a>
                        <a href="#">makeup</a>
                        <a href="#">media</a>
                        <a href="#">password</a>
                        <a href="#">pagination</a>
                        <a href="#">wildlife</a>
                    </div>
                </div>
                <div class="col-md-4 col-footer footer-3">
                    <div class="footer-heading"><h4>Link List</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="#">MOST VISITED COUNTRIES</a></li>
                            <li><a href="#">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
                            <li><a href="#">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
                            <li><a href="#">STARTUP COMPANY’S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>© Welcome to my home !</p>
    </div>
</footer>
<!-- Footer -->

<!-- JS -->
<script src="fabiao/owl-carousel/owl.carousel.js"></script>
<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            items : 5,
            itemsDesktop : [1199,4],
            itemsDesktopSmall : [979,4]
        });

    });
</script>

</body>
</html>
